html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-thumb {
  background: #e8630a;
}
html::-webkit-scrollbar-track {
  background: #b8b6b3;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #2b4353;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1rem;
  position: relative;
  /* Hamburger Close Button */
}
@media (max-width: 680px) {
  .navbar {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #222831;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
}
.navbar .hamburger-close {
  background: transparent;
  color: #fafafa;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 2.2rem;
  right: 1.5rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 680px) {
  .navbar .hamburger-close {
    display: block;
  }
}
.navbar .hamburger-close.active {
  left: -100%;
}
.navbar .my-logo {
  color: #e8630a;
  text-decoration: none;
  padding: 0.3rem 1rem;
  border: 2px solid #e8630a;
  border-radius: 5px;
  font-size: 1.5rem;
}
@media (max-width: 680px) {
  .navbar .my-logo {
    position: absolute;
    left: 1.5rem;
    top: 2rem;
  }
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 680px) {
  .navbar ul {
    width: 100%;
    height: 40%;
    padding-right: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.navbar ul li a::after {
  content: "";
  background: #e8630a;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 0.3rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.navbar ul li a:hover {
  color: #e8630a;
}
.navbar ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/* Open Navbar Toggle */
.navbar.open {
  left: 0;
}

/* Hamburger Menu */
.hamburger-div .hamburger-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fafafa;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: -15px;
  display: none;
}
@media (max-width: 680px) {
  .hamburger-div .hamburger-btn {
    display: block;
  }
}

/* END of Hamburger Menu */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  letter-spacing: 0.1rem;
}
.container h1 {
  font-size: calc(5vw + 10px);
  color: #fafafa;
  margin: 0;
}
.container .orange-text {
  color: #e8630a;
}
.container .intro-content p {
  padding: 0.3 0;
  color: #fafafa;
}
.container .intro-content a {
  color: #fafafa;
  font-size: 1.3rem;
  padding-right: 0.3rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.container .intro-content a:hover {
  color: #e8630a;
}

/* About Me Section */
.section-1 {
  min-height: 80vh;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  background: #2b4353;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 950px) {
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-me-container p {
  margin-top: 0;
  color: #fafafa;
}
.about-me-container .about-me-content .read-btn {
  padding: 0.5rem 1rem;
  background: #e8630a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #fafafa;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: relative;
  z-index: 1;
}
.about-me-container .about-me-content .read-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: #fafafa;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 5px;
}
.about-me-container .about-me-content .read-btn:hover {
  color: #e8630a;
}
.about-me-container .about-me-content .read-btn:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.about-me-container .about-me-content h1 {
  color: #e8630a;
  margin: 0;
  padding-bottom: 1rem;
}
.about-me-container .about-me-content p {
  letter-spacing: 0.05rem;
}
.about-me-container .about-column {
  width: 48%;
}
@media (max-width: 950px) {
  .about-me-container .about-column {
    width: 100%;
  }
}
.about-me-container .skills h1 {
  padding: 3rem 0 1rem 0;
}
.about-me-container .skills .skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 680px) {
  .about-me-container .skills .skill-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about-me-container .skills .skill-container .skill-column {
  width: 80%;
  padding: 1rem;
  text-align: center;
  border: 1px solid #132743;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0 0 rgba(34, 40, 49, 0.3);
          box-shadow: 5px 5px 0 0 rgba(34, 40, 49, 0.3);
}
.about-me-container .skills .skill-container .skill-column i {
  font-size: 3rem;
  color: #132743;
  padding-bottom: 0.5rem;
}

/* Modal Section */
.modal-container {
  width: 550px;
  height: 495px;
  background: #222831;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
  margin: auto auto;
  position: fixed;
  top: -200%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
@media (max-width: 680px) {
  .modal-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.modal-container .modal-close-btn {
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.modal-container .modal-close-btn .modal-btn {
  cursor: pointer;
  background: transparent;
  font-size: 2rem;
  border: none;
  color: #fafafa;
}
.modal-container .modal-content {
  color: #fafafa;
  width: 90%;
  margin-inline: auto;
  padding: 2rem 0;
  letter-spacing: 0.05rem;
}
.modal-container .modal-content h1 {
  color: #e8630a;
}
.modal-container .modal-content .paragraph {
  letter-spacing: 0.05rem;
}

.modal-container.open {
  opacity: 1;
  top: 4rem;
}

/* Landing Page Project */
.section-4 {
  min-height: 90vh;
  padding: 2rem 0;
  background: #2b4353;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-4 .landing-page-container h1 {
  font-size: calc(2vw + 10px);
  text-align: center;
  color: #fafafa;
}
.section-4 .landing-page-container .landing-page-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .section-4 .landing-page-container .landing-page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .section-4 .landing-page-container .landing-page-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.section-4 .landing-page-container .landing-page-content .landing-page-column {
  border: 0.5px solid #b8b6b3;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 0 2px rgba(0, 0, 0, 0.3);
}
@media (max-width: 680px) {
  .section-4 .landing-page-container .landing-page-content .landing-page-column {
    width: 80%;
  }
}
.section-4 .landing-page-container .landing-page-content .landing-page-column .description {
  padding: 0.8rem 0.3rem;
  color: #fafafa;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column .description p {
  padding: 0.5rem;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column .description .bold-text {
  font-weight: bold;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column .description small {
  padding: 0.5rem;
  font-style: italic;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column .description .view-btn {
  background: #e8630a;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column .description .view-btn:hover {
  background: #fafafa;
  color: #2b4353;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column img {
  width: 100%;
  max-height: 550px;
  border-bottom: 0.5px solid #fafafa;
}
.section-4 .landing-page-container .landing-page-content .landing-page-column a {
  text-decoration: none;
  color: #fafafa;
}

/* Section 5, Banner */
.section-5 {
  min-height: 30vh;
  background-image: url(/image/pexels-stephan-seeber-1054218.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-5 .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media (max-width: 780px) {
  .section-5 .banner-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.section-5 .banner-content .inner-banner h1 {
  font-size: calc(3vw + 20px);
  color: #fafafa;
}
.section-5 .banner-content .inner-banner .orange-text {
  color: #e8630a;
}
.section-5 .banner-content .btn-div .contact-btn {
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 5px;
  background: #e8630a;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fafafa;
  position: relative;
  z-index: 1;
}
.section-5 .banner-content .btn-div .contact-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222831;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}
.section-5 .banner-content .btn-div .contact-btn:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/* Section 6, mini projects */
.section-6 {
  background: #2b4353;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}
.section-6 h1 {
  font-size: calc(2vw + 10px);
  text-align: center;
  color: #fafafa;
}
.section-6 .mini-project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
@media (max-width: 950px) {
  .section-6 .mini-project-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .section-6 .mini-project-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.section-6 .mini-project-content .mini-inner-content {
  border: 0.5px solid #b8b6b3;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 0 2px rgba(0, 0, 0, 0.3);
}
@media (max-width: 680px) {
  .section-6 .mini-project-content .mini-inner-content {
    width: 80%;
  }
}
.section-6 .mini-project-content .mini-inner-content .description {
  padding: 0.8rem 0.3rem;
  color: #fafafa;
}
.section-6 .mini-project-content .mini-inner-content .description p {
  padding: 0.5rem;
}
.section-6 .mini-project-content .mini-inner-content .description .bold-text {
  font-weight: bold;
}
.section-6 .mini-project-content .mini-inner-content .description small {
  padding: 0.5rem;
  font-style: italic;
}
.section-6 .mini-project-content .mini-inner-content .view-btn {
  background: #e8630a;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #fafafa;
}
.section-6 .mini-project-content .mini-inner-content .view-btn:hover {
  background: #fafafa;
  color: #2b4353;
}
.section-6 .mini-project-content .mini-inner-content a {
  text-decoration: none;
  color: #222831;
}
@media (max-width: 680px) {
  .section-6 .mini-project-content .mini-inner-content .img-div {
    width: 100%;
  }
}
.section-6 .mini-project-content .mini-inner-content .img-div img {
  width: 100%;
  max-height: 550px;
}

/* Section 6, Contact Form */
.contact-form {
  background: #2b4353;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.contact-form h1 {
  font-size: calc(2vw + 10px);
  text-align: center;
  color: #fafafa;
}
.contact-form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.contact-form .form-container .form {
  width: 100%;
}
.contact-form .form-container .form .form-group {
  text-align: center;
  padding: 0.5rem 0;
  display: block;
  width: 100%;
}
.contact-form .form-container .form .form-group .btn {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #e8630a;
  color: #fafafa;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.contact-form .form-container .form .form-group .btn:hover {
  background: #fafafa;
  color: #e8630a;
}
.contact-form .form-container .form .form-group input, .contact-form .form-container .form .form-group textarea {
  padding: 0.8rem 2rem;
  width: 50%;
  outline: none;
  border: 1px solid #b8b6b3;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 780px) {
  .contact-form .form-container .form .form-group input, .contact-form .form-container .form .form-group textarea {
    width: 70%;
  }
}
.contact-form .form-container .form .form-group input:focus, .contact-form .form-container .form .form-group textarea:focus {
  border: 1px solid #222831;
}
.contact-form .form-container .form .error-status {
  text-align: center;
}

/* Back to Top */
.back-to-top {
  text-align: center;
  background: #2b4353;
}
.back-to-top a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2rem;
}

/* Footer */
.footer {
  min-height: 20vh;
  background: #2b4353;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 680px) {
  .footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
  }
}
.footer .footer-content .footer-col {
  width: 48%;
}
.footer .footer-content .footer-col a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.5rem;
  padding: 0 0.3rem;
}

/* Error Message Status */
#status {
  margin: 1rem 0;
  padding: 0.5rem;
}

#status.success {
  color: green;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

#status.error {
  color: red;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: all;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: all;
  }
}/*# sourceMappingURL=style.css.map */