
$backgroundLightGray: #fafafa;
$colorLightGray: #b8b6b3;
$navLinkColor: #132743;
$colorOrange: #e8630a;
$colorBlue: #2b4353;
$colorOffBlack: #222831;
$titleFontSize: 5vw;

@mixin mediaQuery950px(){
    @media(max-width: 950px){
        @content;
    }
}
@mixin mediaQuery780px(){
    @media(max-width: 780px){
        @content;
    }
}
@mixin mediaQuery680px(){
    @media(max-width: 680px){
        @content;
    }
}

html{
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        background: $colorOrange;
    }
    &::-webkit-scrollbar-track{
        background: $colorLightGray;
    }
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: $colorBlue;
}


.wrapper {
    width: calc(90%);
    max-width: 1440px;
    margin-inline: auto;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    position: relative;
    @include mediaQuery680px(){
        width: 100%;
        flex-direction: column;
        background: $colorOffBlack;
       position: fixed;
       z-index: 2;
       top: 0;
       left: -100%;
       height: 100%;
       justify-content: center;
       transition: 0.5s ease-in-out;
    }
    /* Hamburger Close Button */
    .hamburger-close{
        background: transparent;
        color: $backgroundLightGray;
        border: none;
        font-size: 1.5rem;
        position: absolute;
        top: 2.2rem;
        right: 1.5rem;
        cursor: pointer;
        display: none;
        @include mediaQuery680px(){
            display: block;
        }
    }
    .hamburger-close.active{
        left: -100%;
    }
    .my-logo {
        color: $colorOrange;
        text-decoration: none;
        padding: 0.3rem 1rem;
        border: 2px solid $colorOrange;
        border-radius: 5px;
        font-size: 1.5rem;
        @include mediaQuery680px(){
            position: absolute;
            left: 1.5rem;
            top: 2rem;
        }
    }
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include mediaQuery680px(){
            width: 100%;
            height: 40%;
            padding-right: 3rem;
            flex-direction: column;
            font-size: 2rem;
        }
        li {
            list-style: none;
            display: inline-block;
            cursor: pointer;
            padding:1rem;
            a {
                text-decoration: none;
                color: $backgroundLightGray;
                transition: 0.2s ease;
                &::after{
                    content: '';
                    background: $colorOrange;
                    display: block;
                    width: 100%;
                    height: 2px;
                   margin-top: .3rem;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: 0.2s ease-in;
                }
                &:hover{
                    color: $colorOrange;
                   &::after{
                    transform: scaleX(1);
                    transform-origin: left;
                   }
                }
               
            }
        }
    }
    
}
/* Open Navbar Toggle */
.navbar.open{
    left: 0;
}
/* Hamburger Menu */
.hamburger-div{
    .hamburger-btn{
        background: transparent;
        border: none;
        cursor: pointer;
        color: $backgroundLightGray;
        font-size: 1.5rem;
        position: absolute;
        right: 0;
        top: -15px;
        display: none;
        @include mediaQuery680px(){
            display: block;
        }
    }
}
/* END of Hamburger Menu */

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    letter-spacing: 0.1rem;
    h1 {
        font-size: calc(5vw + 10px);
        color: $backgroundLightGray;
        margin: 0;
    }
    .orange-text{
        color: $colorOrange;
    }
    .intro-content{
        p{
            padding: .3 0;
            color: $backgroundLightGray;
        }
        a{
            color: $backgroundLightGray;
            font-size: 1.3rem;
            padding-right: .3rem;
            transition: 0.2s ease-in;
            &:hover{
                color: $colorOrange;
            }
        }
    }
    
    
}

/* About Me Section */
.section-1 {
    min-height: 80vh;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background: $colorBlue;
}

.about-me-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 1rem;
    @include mediaQuery950px(){
        flex-direction: column;
        align-items: center;
    }
    p {
        margin-top: 0;
        color: $backgroundLightGray; 
    }
    
    .about-me-content {
        .read-btn{
            padding: 0.5rem 1rem;
            background: $colorOrange;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            color: $backgroundLightGray;
            transition: 0.2s ease;
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                background: $backgroundLightGray;
                transition: 0.25s ease-in;
                transform: scaleX(0);
                transform-origin: left;
                border-radius: 5px;
            }
            &:hover{
                color: $colorOrange;
                
                &::after{
                    transform-origin: left;
                    transform: scaleX(1);
                    
                }
            }
        }
        h1{
            color: $colorOrange;
            margin: 0;
            padding-bottom: 1rem;
        }
    }
    .about-column{
        width: 48%;
        @include mediaQuery950px(){
            width: 100%;
        }
    }
  .skills{
    h1{
        padding: 3rem 0 1rem 0;
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        @include mediaQuery680px(){
            grid-template-columns: repeat(2, 1fr);
        }
        .skill-column{
            width: 80%;
            padding: 1rem;
            text-align: center;
            border: 1px solid $navLinkColor;
            border-radius: 5px;
            box-shadow: 5px 5px 0 0 rgba($color: $colorOffBlack, $alpha: 0.3);
            i{
                font-size: 3rem;
                color: $navLinkColor;
                padding-bottom: 0.5rem;
                
            }
        }
    }
  }
    
}
/* Modal Section */
.modal-container{
    width: 550px;
    height: 495px;
    background: $colorOffBlack;
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 rgba($color: black, $alpha: 0.3);
    margin: auto auto;
    position: fixed;
    top: -200%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    opacity: 0;
    transition: 0.8s ease-in-out;
    @include mediaQuery680px(){
        width: fit-content;
        height: fit-content;
    }
    .modal-close-btn{
        position: absolute;
        right: 2rem;
        top: 1rem;
        .modal-btn{
            cursor: pointer;
            background: transparent;
            font-size: 2rem;
            border: none;
            color: $backgroundLightGray;
        }
    }
    .modal-content{
        color: $backgroundLightGray;
        width: 90%;
        margin-inline: auto;
        padding: 2rem 0;
        letter-spacing: 0.05rem;
        h1{
            color: $colorOrange;
        }
        
    }
    
}
.modal-container.open{
    opacity: 1;
    top: 4rem;
}

/* Landing Page Project */
.section-4{
min-height: 80vh;
padding: 2rem 0;
background: $colorBlue;
letter-spacing: 0.1rem;
display: flex;
justify-content: center;
align-items: center;
.landing-page-container{
    h1{
        font-size: calc(2vw + 10px);
        text-align: center;
        color: $backgroundLightGray;
    }
    .landing-page-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        object-fit: cover;
        @include mediaQuery950px(){
            grid-template-columns: repeat(2, 1fr);
        }
        @include mediaQuery680px(){
            grid-template-columns: 1fr;
            justify-items: center;
        }
        .landing-page-column{
            border: .5px solid $colorLightGray;
            border-radius: 5px;
            box-shadow: 5px 5px 0 2px rgba($color: #000000, $alpha: 0.3);
            z-index: 1;
            transition: 0.2s ease;
            @include mediaQuery680px(){
                width: 80%;
            }
            &:hover{
                transform: scale(1.05);
            }
           
            .description{
                padding: 0.8rem 0.3rem;
                p{
                    margin: 0;
                    padding: 0.5rem;
                }
                .bold-text{
                    font-weight: bold;
                }
                small{
                    padding: 0.5rem;
                    font-style: italic;
                }
            }
            img{
                width: 100%;
                max-height: 550px;
                border-bottom: 0.5px solid $backgroundLightGray;
            }
            a{
                text-decoration: none;
                color: $backgroundLightGray;
            }
        }
         }
    }
}
/* Section 5, Banner */
.section-5{
    min-height: 30vh;
    background-image: url(/image/pexels-stephan-seeber-1054218.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        @include mediaQuery780px(){
            flex-direction: column;
            text-align: center;
        }
        .inner-banner{
            h1{
                font-size: calc(3vw + 20px);
                color: $backgroundLightGray;
            }
            .orange-text{
                color: $colorOrange;
            }
        }
        .btn-div{
            .contact-btn{
                padding: .6rem 2rem;
                border: none;
                border-radius: 5px;
                background: $colorOrange;
                font-size: 1.5rem;
                cursor: pointer;
                color: $backgroundLightGray;
                position: relative;
                z-index: 1;
                
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $colorOffBlack;
                    border-radius: 5px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: 0.25s ease-in;
            }    
            &:hover{
                &::after{
                    transform: scaleX(1);
                    transform-origin: left;
                }
    }
            }
            
        }
    }

}
/* Section 6, mini projects */
.section-6{
    background: $colorBlue;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    h1{
        font-size: calc(2vw + 10px);
        text-align: center;
        color: $backgroundLightGray;
    }
    .mini-project-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        @include mediaQuery950px(){
            grid-template-columns: repeat(2, 1fr);
        }
        @include mediaQuery680px(){
            grid-template-columns: 1fr;
            justify-items: center;
        }
        .mini-inner-content{
            border: .5px solid $colorLightGray;
            border-radius: 5px;
            box-shadow: 5px 5px 0 2px rgba($color: #000000, $alpha: 0.3);
            z-index: 1;
            transition: 0.2s ease;
            object-fit: contain;
            @include mediaQuery680px(){
                width: 80%;
            }
            &:hover{
                transform: scale(1.05);
            }
            .description{
                padding: 0.8rem 0.3rem;
                p{
                    margin: 0;
                    padding: 0.5rem;
                    color: $backgroundLightGray;
                }
                .bold-text{
                    font-weight: bold;
                }
                small{
                    padding: 0.5rem;
                    font-style: italic;
                    color: $backgroundLightGray;
                }
            }
           
            a{
                text-decoration: none;
                color: $colorOffBlack;
            }
            .img-div{
                @include mediaQuery680px(){
                    width: 100%;
                }
                img{
                    width: 100%;
                   max-height: 550px;
                    
                }
            }
        }
    }
}
/* Section 6, Contact Form */
.contact-form{
    background: $colorBlue;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1{
        font-size: calc(2vw + 10px);
        text-align: center;
        color: $backgroundLightGray;
    }
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .form{
            width: 100%;
            .form-group{
                text-align: center;
                padding: 0.5rem 0;
                display: block;
                width: 100%;
                .btn{
                    padding: 0.5rem 1.5rem;
                    margin: 0 .5rem;
                    font-size: 1.2rem;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    background: $colorOrange;
                    color: $backgroundLightGray;
                    transition: 0.2s ease;
                    &:hover{
                        background: $backgroundLightGray;
                        color: $colorOrange;
                    }
                }
                input, textarea{
                    padding: 0.8rem 2rem;
                    width: 50%;
                    outline: none;
                    border: 1px solid $colorLightGray;
                    border-radius: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    box-shadow: 5px 5px 0 0 rgba($color: black, $alpha: 0.3);
                    @include mediaQuery780px(){
                        width: 70%;
                    }
                    &:focus{
                        border: 1px solid $colorOffBlack;
                    }
                }
            }
            .error-status{
                text-align: center;
            }
        }
    }
}
/* Back to Top */
.back-to-top{
    text-align: center;
    background: $colorBlue;
    a{
        text-decoration: none;
        color: $backgroundLightGray;
        font-size: 1.2rem;
    }
}
/* Footer */
.footer {
    min-height: 20vh;
    background: $colorBlue;
    color: $backgroundLightGray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       @include mediaQuery680px(){
        flex-direction: column;
        padding: 2rem 0;
       }
        .footer-col{
            width: 48%;
            a{
                text-decoration: none;
                color: $backgroundLightGray;
                font-size: 1.5rem;
                padding: 0 .3rem;
            }
        }
    }
}
/* Error Message Status */
#status{
    margin: 1rem 0;
    padding: 0.5rem;
  }
  #status.success{
    color: green;
    animation: status 4s ease forwards;
  }
  #status.error{
    color: red;
    animation: status 4s ease forwards;
  }
  @keyframes status{
    0%{
      opacity: 1;
      pointer-events: all;
    }
    50%{
      opacity: 1;
      pointer-events: all;
    }
    100%{
      opacity: 0;
      pointer-events: all;
    }
}